/***** NAVBAR *****/
/*///////////////*/
.col-md-3 {
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 30px;
}
.col-md-2 {
    padding-top: 20px;
    padding-left: 10px;
    color: #0e6349;
}

.col-md-7 {
    padding-top: 20px;
}

.map{
    margin: 20px 0 0 0;
    padding-bottom: 20px;
}
.navbar {
    background-color: rgba(20,20,20,0);
    border-radius: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: #f9fffd; 
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
    text-align: center;

}
.navbar-brand h2 {
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    font-size: 50px;
    background-color: transparent;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #003a35;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 20px;
    padding: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #02383a;
    border-radius: 4px;
    border:0px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #003a35;
    /** color: #24242400;
    fill: #242424;
    border-color: #fff;**/

}


/*** JUMBOTRON ***/
/*//////////////*/
.jumbotron {
    text-align: center;
    color: rgba(255, 255, 255);
    background: rgba(255,255,255,0);
    padding: 1%;
    padding-top: 15%;
    border-radius: 0px;
}

.jumbotron h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    color: rgba(241, 248, 247, 0.651);
    margin-top: -20px;
}

.jumbotron h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    color: rgb(241, 248, 247);
}
.jumbotron p {
    font-family: "Montserrat";
    text-align:center;
    font-size: 24px;
    color: rgb(231, 231, 231);
}


/*** BUTTONS ***/
/*////////////*/
.btn.btn-lg{
    font-family: "Krona One", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    color: rgb(228, 238, 235); 
    background-color: rgba(20,20,20,.8);
    border-width: 0px;  
}

.btn.btn-block {
   background-color: rgba(20,20,20,.8);
   border-width: 0px; 
   font-family: "Krona One", sans-serif;
   font-size: 20px;
}


/*** BASIC TEXT STYLES ***/
/*//////////////////////*/
#about-world {
    max-height: 200px;
}

.resume h3 {
    font-weight: bold;
}

h4 {
    font-size: 20px
}
hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 15px;
    word-spacing: 0.3em;
    line-height: 170%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
figcaption {
    font-size: 13px;
}
figcaption.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
    text-align: justify;
}
.sources {
    padding-left: 50pt;
    padding-right: 50pt;
    font-style:normal;
    font-size: normal;
    letter-spacing:normal;
    color:#003a35bd;
}
.credits{
    font-style:italic;
    font-size: 11px;
    letter-spacing:normal;
    color:#003a35b0;
}
.indented {
    padding-left: 80pt;
    padding-right: 80pt;
    font-style:italic;
    font-size: x-large;
    letter-spacing:0.1em;
    color:#003a35bd;
}
.small{
    padding-left: 80pt;
    padding-right: 80pt;
    font-style:italic;
    font-size: medium;
    letter-spacing:0.1em;
    color:#003a35bd;
    text-align:center;
}

a {
    color: #02888d;
}

a:hover {
    color: #77c003;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #242424;
    background-image: url("../assets/dark_firePortrait.jpg");
    background-color: #cccccc;
    background-size:contain;
    }

.resume {
    font-family: "Montserrat", sans-serif;
    color: #242424;
    background-color:#ffffff;  /*#ffffffd5*/
    background-size: 1800px;
    }
    
.blank{
    padding: 2rem;
    background-color: rgba(255,255,255,0);
}

.blank.small{
    padding: 1rem;
    background-color: rgba(255,255,255,0);
}

.contact{
    color: rgba(255,255,255,1)
}
hr {
    background-color: transparent;
    color:transparent;
    stroke-opacity: 1.0;
}
table, th, td {
    font-size: medium;
    border: 1px solid rgb(161, 161, 161);
    padding: 10px;
    table-layout: fixed;
    width: 100%;
}
tr:nth-child(1) {
    text-align: center;
    font-weight: bold;
    font-size:medium;
    letter-spacing:0.1em;
    color:#003a35bd;

}
tr:nth-child(3) {
    background-color:#003a3546;
    color:#fff;

}



/*** LABEL ***/
/*//////////*/
.infolabel .labelName {
    margin: 0 20px 0 0;
    padding: 0;
    display: table-header-group;
    line-height: 1em;
    text-align: center;
    font-size: 26px;
} 

.labelTitle {
    position: absolute;
    font-size: 30px;
    text-align: center;
    line-height: 125%;
    color: #082e2e;
    z-index: 2;
    width: 600px;
    padding: 10px;
    margin-top: -545px; /* -300px*/
    margin-left: 9%; /* 760 px */
}

.labelContent {
    font-size: 16px;
    line-height: 20px;
}


/*** CHART TITLE ***/
/*////////////////*/
.chartTitle {
    position: absolute;
    height: 90px;
    width: 1200px;
    color: #082e2e;
    background-color: rgb(255, 255, 255);
    border: solid thin #fff;
    margin: 10px auto;
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    text-align: center;
}

.legend {
    margin: 20px 0; 
    padding: 0 0 0 0px;
    height: 100%;
}

.legendText {
    position: absolute;
    font-size: 15px;
    display:block;
    height: 0px;
    width: 95%;
    color: #082e2e;
    margin: 0;
    padding: 15px 15px 15px 15px;
}

.svg {
    position: absolute;
    border-radius: 5px;
    vertical-align: top;
    font-size: 15px;
    display:inline-block;
    width: 95%;
    color: #082e2e;
    margin-top: 0px;  /* remove margin-top for opaque legend to cover */
    padding: 15px 15px 15px 15px;
}


/**************** END OF STYLES FOR WEBSITE ****************/


/*** future styling for comparison cards ***/
/* .card {
    background-color: rgba(0, 54, 43, 0);
    border-color: #cccccc;
    border-width: 0px;
    width: 100%;
    font-size: small;
    margin-top: 10%;
    margin-bottom: 15%;
}

.card:hover {
    border-color: #003a35;
} */